.button {
  background-color: var(--primary-5);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-1);
  color: var(--white);
  display: inline-block;
  font-size: var(--font-size-2);
  padding: var(--size-2) var(--size-3);
  position: relative;
  transition: background-color 0.25s ease;
  cursor: pointer;
}

.button:hover {
  background-color: var(--primary-6);
}

.button__label {
  font-weight: var(--font-weight-4);
}

.button__arrow {
  fill: var(--white);
  height: 14px;
  position: absolute;
  right: 0.625rem;
  top: 50%;
  transform: translateY(-70%);
  width: 11px;
}

.button--services {
  background-color: var(--gray-8);
  font-size: var(--font-size-4);
  padding: 0.625rem 1.975rem 0.625rem 0.625rem;
}

.button--services .button__arrow {
    height: 10px;
    width: 12px;
}
